import os
basedir = os.path.abspath(os.path.dirname(__file__))
logdir = os.path.join(basedir, 'log')

# This must be set explicitly otherwise the daemon will not
# generate the correct URLs when sending emails.
SERVER_NAME = 'localhost'

# Comment out SQLALCHEMY_DATABASE_URI to use the built in SQLite
# database for testing.
#SQLALCHEMY_DATABASE_URI = 'postgresql://ss5k@localhost/ss5k'
SQLALCHEMY_MIGRATE_REPO = os.path.join(basedir, 'db_repository')
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Enable cross site request forgery protection.
# Don't worry, this is not the actual token used.
WTF_CSRF_ENABLED = True
SECRET_KEY = '%Sy@i$6$suq@0cNO'

# Mail server settings
MAIL_SERVER = 'localhost'
MAIL_PORT = 25
MAIL_USE_TLS = False
MAIL_USE_SSL = False
MAIL_USERNAME = None
MAIL_PASSWORD = None
MAIL_DEFAULT_SENDER = ('The Scrap Scanner 5000', 'scrapscanner5000@localhost')
MAIL_MAX_EMAILS = None
MAIL_ASCII_ATTACHMENTS = False

# Administrator list
ADMINS = ['admin@localhost']

# Scan Settings
SCAN_DELAY = 5
