{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>{{ title }}</h1>
</div>
<p>
Remember, you can select multiple years using SHIFT + Click and CTRL + Click. Same with junkyards.
</p>
<span class="hidden-xs">
	<table class="table">
		<tbody>
			<tr>
				<form role="form" action="" method="POST">
					{{ form.hidden_tag() }}
					<td>{{ form.make(class_="form-control",placeholder="Make") }}</td>
					<td>{{ form.model(class_="form-control",placeholder="Model") }}</td>
					<td>{{ form.color(class_="form-control",placeholder="Color") }}</td>
					<td>{{ form.years(class_="form-control",style="width:fit-content;") }}</td>
					<td>{{ form.yards(class_="form-control") }}</td>
					<td>
						{{ form.submit(class_="btn btn-primary",style="width:100%;") }}
						<a class="btn btn-default" style="width:100%;" href="{{ url_for('your_cars') }}" role="button">Cancel</a>
					</td>
				</form>
			</tr>
			<tr>
			</tr>
		</tbody>
	</table>
</span>
<span class="hidden-sm hidden-md hidden-lg">
	<div class="container nowrap">
		<div class="row">
			<form class="form-inline" action="" method="POST">
				{{ form.hidden_tag() }}
				<div class="form-group">
					{{ form.make(class_="form-control",placeholder="Make") }}
				</div>
				<div class="form-group">
					{{ form.model(class_="form-control",placeholder="Model") }}
				</div>
				<div class="form-group">
					{{ form.color(class_="form-control",placeholder="Color") }}
				</div>
				<div class="form-group">
					{{ form.years(class_="form-control") }}
				</div>
				<div class="form-group">
					{{ form.yards(class_="form-control") }}
				</div>
				<div class="form-group">
					{{ form.submit(class_="btn btn-primary") }}
					<a class="btn btn-default" href="{{ url_for('your_cars') }}" role="button">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</span>
{% endblock %}
