{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<h1>Welcome to the Scrap Scanner 5000</h1>
	<p>
	The Scrap Scanner 5000 is a free service that lets you know when the car you are looking for has arrived at your local junkyard.
	</p>
	<p>
	The Scrap Scanner 5000 currently supports <a href="https://www.lkqpickyourpart.com/">LKQ Pick Your Part</a> junk yards.
	Tell us the make, model, or years of the car you need parts from and we will send you an email whenever one shows up at your favorite yard.
	</p>
	<p><a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Sign Up</a></p>
</div>
<a href="https://github.com/unlimitedbacon/ss5k">
	<img style="position: absolute; bottom: 0; right: 0; border: 0;" src="/static/img/fork_me.png" alt="Fork me on GitHub">
</a>
{% endblock %}
