{% extends "base.html" %}

{% macro any_if_blank(x) -%}
	{% if x == '' %}
		<font color="gray"><em>Any</em></font>
	{% else %}
		{{ x }}
	{% endif %}
{%- endmacro %}

{% block content %}
<div class="page-header">
	<h1>Your Cars</h1>
</div>
<p>
Check the vehicle inventory at <a href="https://www.lkqpickyourpart.com/">lkqpickyourpart.com</a> to see if they already have the car you want. If not, come back here and add it. We will let you know when they get one.
</p>
<table class="table">
	<tbody>
		<tr>
			<th>Make</th>
			<th>Model</th>
			<th>Color</th>
			<th>Years</th>
			<th>Junkyards</th>
			<th></th>
		</tr>
		{% for car in cars %}
		<tr>
			<td>{{ any_if_blank(car.make) }}</td>
			<td>{{ any_if_blank(car.model) }}</td>
			<td>{{ any_if_blank(car.color) }}</td>
			<td>{{ any_if_blank(car.years) }}</td>
			<td>{{ any_if_blank(car.list_yards()) }}</td>
			<td>
				<a class="btn btn-default" href="{{ url_for('edit_car',car_id=car.id) }}" role="button">Edit</a>
				<a class="btn btn-danger" href="{{ url_for('delete_car',car_id=car.id) }}" role="button">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<p><a class="btn btn-primary btn-lg" href="{{ url_for('add_car') }}" role="button">Add Car</a></p>
{% endblock %}
